@import "./variables.css";
@import "./reset.css";
@import "./typography.css";

body {
  font-family: var(--primary-font);
  width: 100vw;
}

.wrapper {
  position: relative;
}

h1,
h2,
h3 {
  color: var(--head-color);
  text-transform: capitalize;
}

span {
  color: #ffe600;
}

.container {
  width: 90%;
}

/* HEADER */

.header {
  display: flex;
  position: absolute;
  height: 5em;
  width: 100vw;
  justify-content: center;
}

.header-container {
  display: flex;
}

/* NAV */

.nav {
  display: none;
}

/* LOGO */

.nav-logo {
  background: var(--logo-bg-color);
  display: flex;
  align-items: flex-end;
}

.nav-logo-link {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 31px;
  line-height: 37px;
  color: var(--logo-text-color);
  padding: 0 8px;
}

.nav-logo-link strong {
  font-weight: var(--extrabold-weight);
}

/* MAIN */

/* HERO SECTION */
.hero-section {
  display: flex;
  justify-content: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.hero-section {
  background-image: url(../assets/img/hero-bg.jpg);
  background-color: #aaa;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 40% bottom 45%;
  padding-bottom: 5.5em;
  padding-top: 9em;
}

.hero-head,
.hero-description {
  color: #fff;
  max-width: 240px;
}

.hero-head {
  line-height: 125%;
  text-transform: capitalize;
}

.hero-description {
  font-weight: var(--semibold-weight);
  opacity: 0.8;
  letter-spacing: 1px;
}

.contact-btn {
  font-family: inherit;
  padding: 0.8em 1.8em;
  font-weight: var(--extrabold-weight);
  background-color: var(--btn-color);
  transition-property: opacity;
  transition-duration: 0.5s;
}

.contact-btn:hover {
  opacity: 0.5;
}

@media (min-width: 560px) {
  .hero-head,
  .hero-description {
    max-width: 310px;
  }
}

@media (min-width: 768px) {
  .hero-head,
  .hero-description {
    max-width: 400px;
  }
}

@media (min-width: 900px) {
  .hero-head,
  .hero-description {
    max-width: 500px;
  }
}

@media (min-width: 1280px) {
  .header-container {
    gap: 3em;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    list-style: none;
    display: flex;
    gap: 2em;
  }

  .nav-item-link,
  .nav-item-active {
    letter-spacing: 1px;
    text-transform: capitalize;
    text-decoration: none;
  }

  .nav-item-link {
    font-weight: var(--medium-weight);
    color: var(--nav-link-color);
  }

  .nav-item-active {
    font-weight: var(--bold-weight);
    color: #ffe600;
    padding-bottom: 4px;
    border-bottom: 2px solid #ffe600;
  }

  .nav-item a:hover {
    color: #ffe600;
  }

  .hero-head,
  .hero-description {
    max-width: 650px;
  }

  .hero-section {
    background-size: cover;
    padding-top: 14em;
    padding-bottom: 8em;
    height: 100vh;
  }

  .hero-container {
    gap: 2em;
  }
}

/* GRID */

.info-section {
  display: flex;
  justify-content: center;
}

.info-container {
  padding: 2em 0;
  display: grid;
  grid-template: 1fr 1fr / minmax(200px, 300px);
  gap: 2em;
  justify-content: center;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  padding: 1em 0.5em;
}

.info-card-description {
  text-align: center;
}

@media (min-width: 560px) {
  .info-container {
    grid-template: 1fr 1fr / minmax(200px, 450px);
  }
}

@media (min-width: 685px) {
  .info-container {
    grid-template: 1fr 1fr / 1fr 1fr;
  }

  .skill-card {
    grid-column: 1 / -1;
    align-self: center;
  }
}

@media (min-width: 780px) {
  .info-container {
    grid-template: 1fr / 1fr 1fr 1fr;
  }

  .skill-card {
    grid-column: 3 / -1;
    align-self: flex-start;
  }
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  background-color: #000;
}

.footer-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 2em 0;
  gap: 1em;
}

.social-list {
  display: flex;
  gap: 0.8em;
  list-style: none;
  justify-content: space-between;
}

.social-list a img {
  width: 80%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.footer-head {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 0.5em;
  align-items: center;
}

.footer-subtitle {
  text-align: center;
}

.footer-title,
.footer-subtitle,
.footer-copyright {
  color: #fff;
}
