@import "./variables.css";
@import "./reset.css";
@import "./typography.css";

body {
  font-family: var(--primary-font);
}

.wrapper {
  position: relative;
}

h1,
h2,
h3 {
  color: var(--head-color);
}

span {
  color: #ffe600;
}

.container {
  width: 90%;
  max-width: 900px;
}

/* HEADER */

.header {
  display: flex;
  position: absolute;
  height: 22vw;
  padding: 0 1em;
}

/* NAV */

.nav {
  display: none;
}

/* LOGO */

.nav-logo {
  background: var(--logo-bg-color);
  display: flex;
  align-items: flex-end;
}

.nav-logo-link {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 31px;
  line-height: 37px;
  color: var(--logo-text-color);
}

.nav-logo-link strong {
  font-weight: var(--extrabold-weight);
}

/* MAIN */

/* HERO SECTION */
.hero-section {
  display: flex;
  justify-content: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.hero-section {
  background-image: url(../assets/img/hero-bg.jpg);
  background-color: #aaa;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 40% bottom 45%;
  padding-top: 40vw;
  padding-bottom: 5.5em;
}

.hero-head,
.hero-description {
  color: #fff;
  max-width: 240px;
}

.hero-head {
  line-height: 125%;
}

.hero-description {
  font-weight: var(--semibold-weight);
  opacity: 0.8;
  letter-spacing: 1px;
}

.contact-btn {
  font-family: inherit;
  padding: 1em 1.5em;
  font-weight: var(--extrabold-weight);
  background-color: var(--btn-color);
}
