@import "./variables.css";

body {
  font-family: var(--source-sans-pro);
}

h1 {
  font-size: 32px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 40px;
}

h3 {
  font-size: 16px;
  line-height: 26px;
}

p {
  font-size: 14px;
  line-height: 24px;
  font-weight: var(--regular-weight);
}

button {
  cursor: pointer;
  text-transform: capitalize;
  font-size: 12px;
  line-height: 24px;
  font-weight: var(--semibold-weight);
  background-image: linear-gradient(
    270deg,
    rgba(255, 113, 59, 1) 0%,
    rgba(255, 165, 29, 1) 100%
  );
  color: #fff;
  font-family: inherit;
  border: none;
}

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 52px;
  }

  h2 {
    font-size: 28px;
    line-height: 44px;
  }

  h3 {
    font-size: 18px;
    line-height: 28px;
  }

  p {
    font-size: 15px;
    line-height: 26px;
  }

  button {
    font-size: 13px;
    line-height: 26px;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 48px;
    line-height: 64px;
  }

  h2 {
    font-size: 32px;
    line-height: 48px;
  }

  h3 {
    font-size: 20px;
    line-height: 30px;
  }

  p {
    font-size: 16px;
    line-height: 28px;
  }

  button {
    font-size: 14px;
    line-height: 28px;
  }
}

@media (min-width: 1440px) {
  h1 {
    font-size: 56px;
    line-height: 70px;
  }

  h2 {
    font-size: 36px;
    line-height: 52px;
  }

  h3 {
    font-size: 22px;
    line-height: 32px;
  }

  p {
    font-size: 17px;
    line-height: 30px;
  }

  button {
    font-size: 15px;
    line-height: 30px;
  }
}
