@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --logo-bg-color: #ffe600;
  --logo-text-color: #000000;
  --btn-color: #ffe600;
  --nav-link-color: #fff;
  --para-color: #fff;
  --card-para-color: #404040;
  --head-color: #000000;
  --primary-font: "Montserrat", sans-serif;
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semibold-weight: 600;
  --bold-weight: 700;
  --extrabold-weight: 800;
  --black-weight: 900;
}
